<aside [ngClass]="{ 'compact': isCompact }"></aside>

<header [ngClass]="{ 'compact': isCompact }">
    <div class="logo">
        <a href="http://bitcoinsilver.top">
            <img src="assets/images/logo.png" />
        </a>
    </div>

    <div class="navigation">
        <div class="shortcuts">
            <a (click)="switchLanguage('en')" [class.active]="language === 'en'">EN</a>
            <!--
            <hr>
            <a (click)="switchLanguage('de')" [class.active]="language === 'de'">DE</a>
            -->
        </div>

        <div class="categories">
            @if (isMobile) {
            <a (click)="isMobileMenuOpen = !isMobileMenuOpen">{{ isMobileMenuOpen ? '&#x2715;' : '&#9776;' }}</a>
            <div class="mobile-navigation" [class.visible]="isMobileMenuOpen">
                <ng-container *ngTemplateOutlet="sharedLinks"></ng-container>
            </div>
            }
            @else {
            <ng-container *ngTemplateOutlet="sharedLinks"></ng-container>
            }
        </div>
    </div>
</header>

<ng-template #sharedLinks>
    <nav [ngClass]="{ 'compact': isCompact }">
        <ul>
            <li>
                <a [routerLink]="['/']">Home</a>
            </li>

            <li>
                <span>
                    <a [ngClass]="{ 'expanded': expanded === 1 }" [routerLink]="['/learn']"
                        (click)="isMobileMenuOpen = false">Learn</a>
                    @if (expanded !== 1) {
                    <p (click)="expanded = isMobile ? 1 : null">&#9660;</p>
                    }
                </span>

                <div [ngClass]="{ 'expanded': expanded === 1 }">
                    <article>
                        <h1>Learn</h1>
                        <p>Advancing technologies for better lives</p>
                        <div>
                            <a [routerLink]="['/learn']" (click)="isMobileMenuOpen = false">Learn more</a>
                        </div>
                    </article>

                    <ul [class.expanded]="expanded === 1">
                        <li>
                            <a [routerLink]="['/learn']" fragment="blockchain"
                                (click)="isMobileMenuOpen = false">Blockchain and Bitcoin Silver</a>
                        </li>
                        <li>
                            <a [routerLink]="['/learn']" fragment="faq" (click)="isMobileMenuOpen = false">Frequently
                                Asked Questions</a>
                        </li>
                        <li>
                            <a [routerLink]="['/learn']" fragment="roadmap"
                                (click)="isMobileMenuOpen = false">Roadmap</a>
                        </li>
                    </ul>

                    <aside>
                        <img src="assets/images/learn.jpg" />
                    </aside>
                </div>
            </li>

            <li>
                <span>
                    <a [ngClass]="{ 'expanded': expanded === 2 }" [routerLink]="['/solutions']"
                        (click)="isMobileMenuOpen = false">Solutions</a>
                    @if (expanded !== 2) {
                    <p (click)="expanded = isMobile ? 2 : null">&#9660;</p>
                    }
                </span>

                <div [ngClass]="{ 'expanded': expanded === 2 }">
                    <article>
                        <h1>Solutions</h1>
                        <p>Innovative solutions for the future</p>
                        <div>
                            <a [routerLink]="['/solutions']" (click)="isMobileMenuOpen = false">Learn more</a>
                        </div>
                    </article>

                    <ul [class.expanded]="expanded === 2">
                        <li>
                            <a [routerLink]="['/solutions']" fragment="blockchain"
                                (click)="isMobileMenuOpen = false">Blockchain</a>
                        </li>
                        <li>
                            <a [routerLink]="['/solutions']" fragment="wallet"
                                (click)="isMobileMenuOpen = false">Wallet</a>
                        </li>
                        <!--
                        <li>
                            <a [routerLink]="['/']" (click)="isMobileMenuOpen = false">PayStream</a>
                        </li>
                        -->
                    </ul>

                    <aside>
                        <img src="assets/images/solutions.jpg" />
                    </aside>
                </div>
            </li>

            <li>
                <span>
                    <a [ngClass]="{ 'expanded': expanded === 3 }">Community</a>
                    @if (expanded !== 3) {
                    <p (click)="expanded = isMobile ? 3 : null">&#9660;</p>
                    }
                </span>

                <div [ngClass]="{ 'expanded': expanded === 3 }">
                    <article>
                        <h1>Community</h1>
                        <p>Connecting and engaging with the community</p>
                    </article>

                    <ul [class.expanded]="expanded === 3">
                        <li>
                            <a href="https://discord.com/invite/MCGn7dzvgd" target="_blank">Discord</a>
                        </li>
                        <li>
                            <a href="https://x.com/Bitcoin_Silver_" target="_blank">X (Twitter)</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/BitcoinSilver.BTCS/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://youtube.com/@bitcoinsilver" target="_blank">Youtube</a>
                        </li>
                    </ul>

                    <aside>
                        <img src="assets/images/community.jpg" />
                    </aside>
                </div>
            </li>

            <li>
                <span>
                    <a [ngClass]="{ 'expanded': expanded === 4 }">Downloads</a>
                    @if (expanded !== 4) {
                    <p (click)="expanded = isMobile ? 4 : null">&#9660;</p>
                    }
                </span>

                <div [ngClass]="{ 'expanded': expanded === 4 }">
                    <article>
                        <h1>Downloads</h1>
                        <p>Your gateway to Bitcoin Silver resources</p>
                    </article>

                    <ul [class.expanded]="expanded === 4">
                        <li>
                            <a href="https://github.com/bitcoin-silver/core/releases/download/v1.0.2/bitcoinsilver-android.apk"
                                target="_blank">Silver Wallet</a>
                        </li>
                        <li>
                            <a href="https://github.com/bitcoin-silver/core/releases/download/v1.0.2/bitcoinsilver-linux.tar.gz"
                                target="_blank">Linux Wallet</a>
                        </li>
                        <li>
                            <a href="https://github.com/bitcoin-silver/core/releases/download/v1.0.2/bitcoinsilver-windows.zip"
                                target="_blank">Windows Wallet</a>
                        </li>
                    </ul>

                    <aside>
                        <img src="assets/images/downloads.jpg" />
                    </aside>
                </div>
            </li>

            <li>
                <a href="https://github.com/bitcoin-silver" target="_blank">Developers</a>
            </li>
            <!--
            <li>
                <a href="#" target="_blank">PayStream</a>
            </li>
-->
        </ul>
    </nav>
</ng-template>