footer {
    background: var(--accent-color-dark);
    padding: 50px 192px;
    flex-direction: row;
    display: flex;
    width: 100%;
}

footer>.logo {
    transition: width .25s;
    align-items: flex-end;
    margin: 0 100px 0 0;
    display: flex;
    height: 100%;
    width: 164px;
}

footer>.logo>a {
    align-items: center;
    display: flex;
    width: 100%;
}

footer>.logo>a>img {
    width: 100%;
}

footer>.links {
    flex-direction: column;
    height: 100px;
    display: flex;
    flex: 1;
}

footer>.links>.internal,
footer>.links>.external {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

footer>.links>.internal {
    margin: 0 0 25px 0;
}

footer>.links>.internal>a {
    font-size: 20px;
}

footer>.links>.internal>a:not(:first-child),
footer>.links>.external>a:not(:first-child) {
    margin: 0 0 0 20px;
}

footer>.links>p {
    color: var(--foreground-color);
    font-size: 14px;
}

footer>.links>.external>a {
    color: var(--accent-color);
}

footer>.links>.external>a:hover {
    color: var(--text-color);
}

aside {
    background: var(--accent-color-darker);
    padding: 10px 192px 50px 192px;
    display: flex;
    width: 100%;
}

aside>p {
    color: var(--foreground-color);
    font-size: 14px;
}

aside>div {
    justify-content: flex-end;
    display: flex;
    flex: 1;
}

aside>div>a>svg {
    color: var(--foreground-color);
    height: 16px;
}

aside>div>a {
    margin: 0 0 0 10px;
}

aside>div>a>svg:hover {
    color: var(--accent-color);
}

@media only screen and (max-width: 1080px) {
    footer {
        flex-direction: column;
        padding: 50px 20px;
    }

    footer>.logo {
        padding: 0 0 25px 0;
        width: 150px;
    }

    footer>.links {
        flex: none;
    }

    aside {
        padding: 10px 20px 50px 20px;
    }
}