<section>
    <app-intro title="Lorem ipsum dolor sit amet, consetetur sadipscing elitr" image="https://placehold.co/1920x1080"
        video="assets/videos/hero.mp4" [large]="true"></app-intro>

    <app-section image="https://placehold.co/768x665" [cinema]="false" title="Lorem ipsum dolor sit"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet."
        color="--info-color" [reverse]="false" action="learn"></app-section>

    <app-section image="https://placehold.co/768x665" [cinema]="true" title="Lorem ipsum dolor sit amet, consetetur sadipscing"
        color="--accent-color-darker" [reverse]="true" action="solutions"></app-section>
</section>