<section>
    <app-intro title="Bitcoin Silver: A Blockchain Built on Trust, Ethics, and Value" image="https://placehold.co/1920x1080"
        video="assets/videos/hero.mp4" [large]="true"></app-intro>

    <app-section image="assets/images/office.jpg" [cinema]="false" title="Welcome to Bitcoin Silver"
        content="Our mission is to revolutionize the preservation and growth of value through blockchain technology. We are committed to creating a transparent, community-driven platform that provides a secure and sustainable store of value for the long term. By harnessing advanced technology and fostering collaboration, we empower individuals and organizations to achieve financial sovereignty and long-term stability."
        color="--info-color" [reverse]="false" action="/learn"></app-section>

    <app-section image="assets/images/technology.jpg" [cinema]="true" title="Checkout our innovative Blockchain Solutions"
        color="--accent-color-darker" [reverse]="true" action="/solutions"></app-section>
</section>