<section [ngClass]="{ 'reverse': reverse, 'cinema': cinema }">
    <aside>
        <img loading="lazy" [src]="image" />
    </aside>
    <article [ngStyle]="{'background-color': 'var(' + color + ')'}">
        <div>
            <h2 [ngClass]="{ 'underline': content }">{{ title }}</h2>
            @if (content) {
            <p>{{ content }}</p>
            }
            @if (action) {
            <app-button [title]="button" [link]="action"></app-button>
            }
        </div>
    </article>
</section>