<section>
    <app-intro title="Learn" description="Advancing technologies for better lives"
        image="assets/images/learn.jpg"></app-intro>
    <h2>Blockchain and Bitcoin Silver</h2>
    <article id="blockchain">
        <div>
            <h3>▷ Mission</h3>
            <p>Our mission is to transform the way value is preserved and enhanced through blockchain technology. We aim
                to build a transparent, community-driven platform that offers a secure and sustainable reserve of value
                for the long term. By leveraging advanced technology and fostering cooperation, we empower individuals
                and organizations to achieve financial sovereignty and stability.</p>
            <h3>▷ Vision</h3>
            <p> We envision a world where financial security and growth are within reach for everyone. Our blockchain
                platform strives to set a new standard for value storage and appreciation, moving beyond traditional
                financial systems. We see a future where collaboration, innovation, and trust drive our community,
                creating a more equitable and prosperous global economy.</p>
            <p>Together, through our mission, vision, and values, we are building a blockchain platform that redefines
                how value is preserved, leaving a legacy of trust, transparency, and community-driven innovation. Join
                us in creating a brighter, more secure future for all.</p>
        </div>
        <div>
            <h3>🗹 Trustworthiness</h3>
            <p>Trust is the foundation of our platform. We are committed to the highest standards of security and
                reliability, ensuring that our users can depend on us to protect their assets and data with unwavering
                integrity.</p>
            <h3>🗹 Transparency</h3>
            <p>Transparency is central to everything we do. We believe openness and accountability are vital for
                building a strong, resilient community. Our platform is fully transparent, with all transactions and
                processes visible to users, fostering mutual trust and understanding.</p>
            <h3>🗹 Community-Driven</h3>
            <p>We are driven by our community. Every decision and development is shaped by the input and participation
                of our users. We value the collective wisdom and creativity of our community, knowing that together, we
                can achieve far more than we ever could alone.</p>
            <h3>🗹 Innovation</h3>
            <p>Innovation fuels our progress. We are dedicated to exploring new technologies and methodologies to
                continually improve our platform. Our commitment to innovation ensures we stay at the forefront of the
                blockchain industry, offering unparalleled value and opportunities.</p>
        </div>
    </article>
    <app-section image="assets/images/community.jpg" [cinema]="false" title="Get Started Now!"
        content="Join us in revolutionizing the digital commodity asset concept and blockchain space. Start your journey with BTCS today and become a part of our community-driven project. Discover how you can contribute, participate, and benefit from a transparent and innovative digital asset ecosystem."
        color="--info-color" [reverse]="false" action="https://bitstorage.finance/spot/trading/BTCSUSDT"
        button="Buy Bitcoin Silver"></app-section>
    <h2 class="odd">Frequently Asked Questions</h2>
    <article id="faq" class="odd">
        <div>
            <h3>ⓘ What are the main goals of the BTCS project?</h3>
            <p>The BTCS project aims to restore credibility in the cryptocurrency space by ensuring a secure and
                transparent protocol. We focus on addressing previous issues, safeguarding data, and providing a robust
                platform for all stakeholders.</p>
            <h3>ⓘ How does BTCS ensure the protection of investor interests?</h3>
            <p>We have implemented comprehensive data safeguarding measures and backup solutions to protect investor
                interests. Our proactive approach includes continuous monitoring and technical support to maintain the
                integrity and security of the project.</p>
            <h3>ⓘ What is the BTCS teams commitment to the community?</h3>
            <p>The BTCS team is dedicated to fostering an open and transparent environment. We are committed to keeping
                all operations and updates open to community members, ensuring that our project is truly
                community-driven and aligned with the highest standards of integrity.</p>
        </div>
        <div>
            <h3>ⓘ How can I get involved with BTCS?</h3>
            <p>You can get involved by joining our community on Discord, exploring our GitHub repository, and
                participating in our discussions and development efforts. Additionally, you can start mining with our
                primary pools or track our progress using the Block Explorer.</p>
            <h3>ⓘ What are the benefits of participating in the BTCS project?</h3>
            <p>By participating in the BTCS project, you benefit from being part of a fair and transparent
                cryptocurrency initiative. You'll have access to innovative features, the opportunity to contribute to a
                community-driven project, and the potential for valuable returns as the project grows and succeeds.</p>
        </div>
    </article>
    <h2>Roadmap</h2>
    <article id="roadmap">
        <div>
            <h3>🗹 [Q3 2024]</h3>
            <p class="uppercase">Select tech stack, code blockchain, start mining</p>
            <h3>🗹 [Q4 2024]</h3>
            <p class="uppercase">Improve infrastructure, build community, list on Tier 3 exchange</p>
            <h3>🗹 [Q1 2025]</h3>
            <p class="uppercase">Maintain infrastructure, enhance sustainability, list on Tier 2 exchange</p>
        </div>
        <div>
            <h3>□ [Q2 2025]</h3>
            <p class="uppercase">Launch P2P mobile exchange</p>
            <h3>□ [Q3 2025]</h3>
            <p class="uppercase">Meet compliance milestones, increase user engagement</p>
            <h3>□ [Q4 2025/Q1 2026]</h3>
            <p class="uppercase">Establish foundation, secure partnerships, list on Tier 1 exchange</p>
        </div>
    </article>
</section>